* {
  font-family: 'Comfortaa', sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

/* Propiedades del header. Contiene: logo, menú y botones */
header {
  height: 100px;
}

.bg-principal {
  background-color: rgb(223 134 23)
}

.bg-secundario {
  background-color: rgb(234, 225, 199);
}

.color-principal,
h1,
h2,
h3,
h4 {
  color: rgb(223 134 23)
}

.color-secundario {
  color: rgb(234, 225, 199);
}

.cabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header figure.logo img,
footer figure.logo img {
  height: 100px;
}

header svg,
footer svg {
  fill: #eae1c7
}

.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}

nav#movil {
  position: relative;
}

nav#movil summary {
  position: relative;
  list-style: none;
}

nav#movil .menu-movil {
  width: max-content;
  padding: 0;
  border: 1px solid rgb(223 134 23);
  background-color: rgb(234, 225, 199);
  z-index: 1000;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav#movil .menu-movil li {
  min-width: 300px;
  text-align: center;
}

nav#movil .menu-movil li.btn {
  padding: 5px 0;
  border-bottom: 1px solid rgb(223 134 23)
}

nav#movil .menu-movil li a {
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  border-bottom: 1px solid rgb(223 134 23)
}

figure.logo {
  height: 100px;
  margin: 0;

}

.mostrar-movil {
  display: none;
}

button,
.icon-user {
  /* color: rgb(234, 225, 199); */
  color: rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgb(223 134 23);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  margin: 0;
}

button:hover,
.icon-user:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(223 134 23);
  border: 1px solid rgb(223 134 23);
}

button:hover,
.icon-user:hover svg {
  fill: rgb(39, 81, 144);
}

#menu-principal ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

#menu-principal li a {
  color: rgb(234, 225, 199);
  text-decoration: none;
  padding: .5em;
}

#menu-principal li a:hover {
  border-bottom: 1px solid rgb(234, 225, 199);
}

.botones-sesion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}

/****************** SECCIÓN BREADCRUMBS ******************/

.breadcrumb {
  /* Centrar */
  display: inline-flex;
  /*box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);*/ 
  overflow: hidden;
  border-radius: 5px;
  margin: 10px;
}

.breadcrumb a {
  font-size: 16px;
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  line-height: 36px;
  color: white;
  padding: 0 10px 0px 40px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 46px;
  padding-right: 46px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 14px;
}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4),
      3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.flat a,
.flat a:after {
  background: white;
  color: black;
  transition: all 0.5s;
}

.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
  background: #DF8617;
}

/****************** SECCIÓN MAPA ******************/
.contenedor-mapa {
  display: flex;
  flex-direction: column;
}

.contenedor-mapa h2 {
  text-align: left;
}

.mapa {
  margin: auto;
  max-width: 700px;
  width: 100%;
  min-width: 350px;
}

.mapa svg path {
  fill:rgb(223 134 23);
}
.mapa svg a:hover path {
  fill:rgb(186, 110, 18);
  /* fill: rgb(150 150 150); */
}


/******************* SECCIÓN BUSQUEDA ******************/
/* Propiedades de la seccion2 donde se encuentra la caja de búsqueda */

.busqueda h2 {
  text-align: center;
}

.contenedor-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.busqueda {
  align-content: center;
  text-align: center;
  margin: 50px 0;
}

input,
.boton {
  margin: 0;
  border-radius: 3px;
  border: 1px solid rgb(223 134 23);
  padding: .5em 2em;
}

.boton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(223 134 23);
}

/****************** SECCIÓN FILTROS ******************/

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 200px;
}

.filtros select {
  appearance: none;
  width: 200px;
  height: 40px;
  background-color: #FBEDCA;
  border: none;
  outline: 1px solid #DF8662;
  box-shadow: 0 0 5px #DF8617;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  justify-content: space-evenly;
  cursor: pointer;    
}

/* Select abierto */
.filtros select:focus {
  outline: none;
  border-color: #DF8617;
  box-shadow: 0 0 5px #DF8617;
}

.filtros select:hover {
  background-color: #FEF9EC;
}

.filtros select option{
  background-color: #FBEDCA;
}

.filtros h2 {
  text-align: center;
}

/****************** SECCIÓN FILTROS (MÓVIL) ******************/

.abrir {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toggle filtros (Móvil) */
#abrir-filtros,
#cerrar-filtros {
  padding: 30px;
  background-color: #FBEDCA;
  font-size: medium;
  color: #000;
  outline: 2px solid orange; 
  border: none;
  outline: 1px solid #DF8662;
  box-shadow: 0 0 5px #DF8617;
  
}

#cerrar-filtros {
  margin: 20px;
  padding: 10px;
}

#abrir-filtros:hover,
#cerrar-filtros:hover {
  outline: 1px solid #DF8662;
  background-color: #FEF9EC;
  box-shadow: 0 0 5px #DF8617;
}

#filter-button {
  width: 100px;
  height: 100px;
}

#contenido-filtros {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos sólo para checkbox */

/* Ocultamos el checkbox original */
#location input[type="checkbox"] {
  display: none;
}

/* Creamos un nuevo checkbox */
#location input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 1px;
  background-color: #ffffff;
  border: 1px solid #df8617;
}

/* Indicamos cuando está seleccionado */
#location input[type="checkbox"]:checked + label:before {
  background-color: #df8617;
}

#personas {
  justify-content: space-evenly;
}
 
#personas button {
  margin: 0 5px;
  width: 26%;
}

/****************** SECCIÓN EXPERIENCIAS ******************/
/* Tercera sección - Experiencias de usuario */
.experiences-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .experiencia-left,
  .experiencia-mid,
  .experiencia-right {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .experiencia {
    padding: 20px;
    max-width: fit-content;
    text-align: center;
  }
  
  .experiencia img {
    max-height: 400px;
    max-width: 300px;
    width: 100%;
    padding: 0;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 12px;
  }
  
  .experiencia h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
    margin: 0;
  }
  
  .experiencia p {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 20px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0;
  }
  
  .card-body {
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
    -webkit-backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    perspective: 800;
    -webkit-perspective: 800;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
  }
  
  .card-body .card-title {
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
  }

  .experiencia h3{
    margin-top: 15px;
  }
  
  .card-body:hover {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card-front {
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    padding: 2px;
  }
  
  /* Un contenedor vacío por algún motivo. Pendiente de modificar o eliminar. [Comentario de: Sandra]
  .card-front img{

  }
  */

  .card-back {
    align-items: center;
    background-color: #FDFEFF;
    backface-visibility: hidden;
    -webkit-backface-visibility: visible;
    -webkit-backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotateY(180deg);
    width: 100%;
    border: 5px solid rgb(223 134 23);
  }
  
  .card-back p {
    color: #333;
  }
  
  .card-back .card-title {
    color: rgb(223 134 23);
  }
  
  .card-title {
    font-size: 48px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
  }
  
  .card-text {
    font-size: 14px;
    text-align: center;
  }
  
  .card-back .card-text {
    padding: 20px;
    text-align: justify;
  }

  /****************** PÁGINA COLECCIONES ******************/
  
  #coleccion_visualizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #coleccion_visualizacion img{
    width: 20%;
    height: 120px;
  }

  #coleccion_visualizacion button{
    width: 20%;
    height: 40px;
    align-self: end;
    display: flex;
    align-items: center;
  }

  #coleccion_visualizacion button img {
    height: 30px;
    width: 30px;
  }
  
  .coleccion_creada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 70%; */
  }

  .coleccion_separador{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .coleccion_separador_red{
    background-color: red;
  }

  .coleccion_separador_green{
    background-color: green;
  }

  .coleccion_separador_blue{
    background-color: blue;
  }

  .coleccion_separador button {
    all: unset;
    width: 4% !important;
    height: 20px !important;
  }

  .coleccion_separador img{
    width: 80% !important;
    height: 20px !important;
    margin-right: 50px !important;
    padding-bottom: 5px !important;
  }
  
  .coleccion_info{
    display: flex;
  }

  .coleccion_info h3, .coleccion_info p{
    margin-top: 5px;
    margin-left: 10px;
  }

  .coleccion_info_txt{
    width: 60%;
  }

  .coleccion_linea{
    width: 100%;
    height: 2px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .coleccion_contenedor_experiencias{
    display: flex;
    overflow-x: scroll; 
    overflow-y: hidden;
    margin-bottom: 20px;
  }

  .coleccion_contenedor_experiencias .experiencia {
    flex: 0 0 25%;
    margin: 0 1%;
  }

  .coleccion_contenedor_experiencias::-webkit-scrollbar {
    height: 12px;
  }
  
  .coleccion_contenedor_experiencias::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .coleccion_contenedor_experiencias::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

/* Bloque CSS: Pendiente de modificar o eliminar. [Comentario de: Sandra]

.seccion-experiencias {
    margin: 20px 0;
}

.seccion-experiencias h2 {
    text-align: center;
}

.experiencias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.seccion-experiencias article {
    flex-basis: 32%;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.seccion-experiencias article:hover {
    background-color: rgb(234, 225, 199);
}

.seccion-experiencias article a {
    text-decoration: none;
}

.seccion-experiencias article img {
    width: 100%;
}

.seccion-experiencias article p,
.seccion-experiencias article h4 {
    padding: 0 10%;
}


/****************** FOOTER ******************/

footer {
  min-height: 110px;
}

footer a {
  color: rgb(234, 225, 199);
  text-decoration: none;
}

footer .contenedor-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .caja-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .iconos-redes,
footer .enlaces {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0;
  list-style: none;
  margin: 0;
}

footer .enlaces a:hover {
  text-decoration: underline;
}

/****************** SECCIÓN IMAGEN PRINCIPAL ******************/

.imagen-principal {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/****************** SECCIÓN GALERÍA IMÁGENES ******************/
.imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.imagenes > div {
  flex-basis: 20%;
  overflow: hidden;
  display: flex;
  height: 160px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgb(234, 225, 199);
  background-color: rgb(30, 30, 30);
  border-radius: 3px;
}

.imagenes a {
  height: 100%;
}

.imagenes img {
  height: 100%;
  transition: transform 1s;
}

.imagenes iframe {
  height: 100%;
}

.imagenes img:hover {
  transform: scale(1.5);
}

/****************** BREAKPOINTS / MEDIA QUERIES ******************/

/* ----- breakpoint para controlar punt de ruptura del margen --- */
@media only screen and (max-width: 1050px) {
  .contenedor {
    margin: 0 2%;
  }
}

/* --------breakpoints para tablets < 768 px */
@media only screen and (max-width: 768px) {

  header nav,
  header .botones-sesion {
    display: none;
  }

  header nav#movil,
  header .icon-user {
    display: block;
  }

  header .figure {
    align-self: center;
  }

  header .mostrar-movil {
    display: block;
  }

  .contenedor {
    margin: 0 2%;

  }

  .seccion-experiencias article {
    flex-basis: 49%;
  }

  footer .contenedor-footer {
    flex-direction: column;
    padding-bottom: 20px;
  }

  footer .enlaces {
    flex-direction: column;
    align-items: center;
  }

  footer .iconos-redes,
  footer .enlaces {
    justify-content: center;
  }
}

/* --------breakpoints para movil < 600 px */
@media only screen and (max-width: 600px) {

  header nav,
  header .botonesSesion {
    display: none;
  }

  header .contenedor {
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .seccion-experiencias article {
    flex-basis: 100%;
  }
}